@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face{
  font-family: 'Euclid';
  src: url('../app//fonts/Euclid\ Circular\ A\ Regular.ttf') format('truetype');
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 
  font-family:'Euclid',Arial, Helvetica, sans-serif ;
}
.slick-slide > div{

  margin-right: -30px;
  margin-left: -20px;
  }

.wcm-modal {
  @apply bg-gray-900 text-white p-4 rounded-md shadow-lg ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
